@media (max-width:1199.98px) {
    .navbar-toggler-icon svg{
        height: 35px;
    }  
}
@media (max-width:991.98px) {
   
 .text{
     display: none;
 }
 .text-2{
     display: none;
 }
 .swiper-container{
     height: 400px;
 }

}
@media (max-width:767px) {
    .wrap{
        flex-direction: column;
    }
    .wrap .button{
        margin-bottom: 15px;
    }
    .head .row{
      margin: 0 auto;
    }
    .swiper-container{
        height: 300px;
    }
    .swiper-slide a{
        font-size: 20px;
    }  
    
}
@media (max-width:575.98px) {
    .swiper-container{
        height: 200px;
    }
   .swiper-slide a{
        font-size: 15px;
    } 
    .fix{
        max-width: 250px;
        padding: 10px;
    } 
    h1{
        font-size: 30px;
    }
    .card-header .btn{
        font-size: 15px;
    }
    .card-body p{
        font-size: 13px;
    }
   .navbar-toggler-icon svg{
        height: 30px;
        margin-top: 7px;
     }
   .navbar-brand{
       margin-right: 0px;
       font-size: 20px;
   } 
   .navbar-brand svg{
       height: 30px;
   }
   .title{
    font-size: 18px;
}


}