@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';

h1,h2,h3,h4,h5,h6,ul,ol,p{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

a,
a:hover{
    text-decoration: none;
}

body{
    background: rgb(255, 255, 255);
}
.margin{
    margin: 0 0;
   
}
.parallax{
    background: #ddd no-repeat  fixed center center/ cover;
    width: 100%;
    height: 1000px;

}
h1{
    color: #fff;
    text-transform: uppercase;
}
header{
  background: url('../images/maxresdefault.jpg' )fixed center center/ cover;
  width: 100%;
  height: 400px;
  position: relative;
  box-shadow:   12px 12px 24px rgba(116, 116, 116, 0.644);
  
}

.fix{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 12px 60px;
  background: #ffcfe3;
  top:120px;
  border:none;
  max-width: 500px;
  
}


.fix h3{
  text-align: center;
  color: black !important;
}



.top{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.head{
  background: #ffcfe3;
  width: 100%;
  padding-bottom: 50px;
  position:relative;
  min-height: 100px;
}

.navbar-brand svg{
    color: 	#ffffff;
}
.navbar-toggler-icon{
    
    color: #fff;
    width: 40px;
    height: 50px;
    
    
    
}

.navbar-toggler:active,
.navbar-toggler:focus{
    outline: none;
    border:none;
}
.head .col-xl-4{
  width: 100%;
}
.head .container{
  display: flex;
  justify-content: center;
}

.accordion{
  margin-top: 40px;
}

.card-header{
  background: none !important;
  box-shadow:  12px 12px 24px rgba(116, 116, 116, 0.644);
  border: none;
}
.card{
  border: none !important;
  box-shadow:  12px 12px 24px rgba(116, 116, 116, 0.644);
  
}

.navbar-brand{
  font-family: 'Petit Formal Script';
  text-transform:inherit;
  font-size: 40px;
  color: #fff !important;
  margin-bottom: 20px;
  text-align: center;
  animation-delay: 0.9s;

  
} 




    

  .wrap {
    height: 100%;
    display: flex;
    align-items: center;
    
    
  }
  
  .button {
    min-width: 120px;
    min-height: 20px;
    font-family: 'Nunito', sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #ffffff;
  background: linear-gradient(90deg, #ffffff) 0%, #ffffff;
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(116, 116, 116, 0.644);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    margin-left: 30px;
    }
  
 .wrap button::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(120px + 20px);
    min-height: calc(30px + 20px);
    border: 3px solid #d8d8d8;
    box-shadow:12px 12px 24px rgb(0, 0, 0);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .button:hover, .button:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
.wrap  button:hover::before, button:focus::before {
    opacity: 1;
  }
  
.wrap  button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #fff;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation:ring 1.5s infinite;
  }
  
.wrap  button:hover::after, button:focus::after {
    animation: none;
    display: none;
  }

  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }
  .button:active,
  button:focus{
    outline: none;
    border: none;
  }

  .navbar{
    padding-top: 10px;
  }

h1{
  font-size: 50px;
  font-family: 'Petit Formal Script';
  text-transform: inherit;
  margin-top: 30px;
  
}

.head .row{
  
  padding-bottom: 50px;
}

.title{
  text-align: center;
  margin-top: 40px;
  color: rgb(0, 0, 0) !important;
 font-size: 30px;
  text-transform: inherit;
}
.btn{
  font-size: 30px;
  color: #ffa7d3 !important ;
  text-decoration: none !important;
  font-family:'Hind' ;
  outline: none !important;
 
  
}

.card-header h2{
  outline: none !important;
  border: none !important;
}
.card-header .btn{
  outline: none;
  box-shadow: 0 0 0 0 !important;
}
.card-body{
  background: #fdebf6;
  box-shadow:12px 12px 24px rgb(0, 0, 0);
}
.swiper-container {
  width: 100%;
  height: 500px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.menu {
  min-width: 100px;
  width: 70%;
  max-width: 320px;
  max-height: 500px;

  background-color:#fdebf6;
  color: #fff;
}

.content {
  width: 100%;
}

.menu-button {
  position: absolute;
  top: 0px;
  left: 0px;

  padding: 15px;

  cursor: pointer;

  -webkit-transition: .3s;
  transition: .3s;

  background-color: #fdb4df;

  /*margin: 14px;
  border-radius: 5px;*/
}

.menu-button .bar:nth-of-type(1) {
  margin-top: 0px;
}

.menu-button .bar:nth-of-type(3) {
  margin-bottom: 0px;
}

.bar {
  position: relative;
  display: block;

  width: 50px;
  height: 5px;

  margin: 10px auto;
  background-color: #fff;

  border-radius: 10px;

  -webkit-transition: .3s;
  transition: .3s;
}
.swiper-slide img{
  width: 100%;
}
.menu-button:hover .bar:nth-of-type(1) {
  -webkit-transform: translateY(1.5px) rotate(-4.5deg);
  -ms-transform: translateY(1.5px) rotate(-4.5deg);
  transform: translateY(1.5px) rotate(-4.5deg);
}

.menu-button:hover .bar:nth-of-type(2) {
  opacity: .9;
}

.menu-button:hover .bar:nth-of-type(3) {
  -webkit-transform: translateY(-1.5px) rotate(4.5deg);
  -ms-transform: translateY(-1.5px) rotate(4.5deg);
  transform: translateY(-1.5px) rotate(4.5deg);
}

.cross .bar:nth-of-type(1) {
  -webkit-transform: translateY(15px) rotate(-45deg);
  -ms-transform: translateY(15px) rotate(-45deg);
  transform: translateY(15px) rotate(-45deg);
}

.cross .bar:nth-of-type(2) {
  opacity: 0;
}

.cross .bar:nth-of-type(3) {
  -webkit-transform: translateY(-15px) rotate(45deg);
  -ms-transform: translateY(-15px) rotate(45deg);
  transform: translateY(-15px) rotate(45deg);
}

.cross:hover .bar:nth-of-type(1) {
  -webkit-transform: translateY(13.5px) rotate(-40.5deg);
  -ms-transform: translateY(13.5px) rotate(-40.5deg);
  transform: translateY(13.5px) rotate(-40.5deg);
}

.cross:hover .bar:nth-of-type(2) {
  opacity: .1;
}

.cross:hover .bar:nth-of-type(3) {
  -webkit-transform: translateY(-13.5px) rotate(40.5deg);
  -ms-transform: translateY(-13.5px) rotate(40.5deg);
  transform: translateY(-13.5px) rotate(40.5deg);
}
.swiper-slide img {
  height: 500px;
  width: 100%;
}
.swiper-slide a{
  color: #fdb4df;
  font-size: 30px;
}
.square{
  
   background: #fdb4df;
  width: 200px;
  height: 200px;
  padding:70px 80px;
  border-radius: 15px;
  position: relative;
  border: 1px solid #fff;
  z-index: 2;

}
.square h2{
   font-size: 50px;
   color: #fff;
   font-family: 'Petit Formal Script';
}
.text {
  
   left: 58%;
    background: rgba(255, 255, 255, 0.486);
    margin-top: 58px;
    border-radius: 15px;
    padding-left: 40px;
    padding-right: 10px;
    position: absolute;
    height: 202px;
    z-index: 1;
    opacity: 0;
    width: 200px;
    color: #000;
    font-size: 15px;
    padding-bottom: 10px;
    
}
.letter .col-xl-12:hover .text {
  opacity: 1;
  transition: 1.2s;
 width: 350px;
  
}
.text h3{
  font-size: 50px;
  margin-top: 5px;
  font-family: 'Petit Formal Script';
  text-transform: lowercase;
}
.card-body p{
  font-size: 20px;
 
}


.text-2{
  right:60%;
    background: rgba(255, 255, 255, 0.486);
    margin-top: 20px;
    border-radius: 15px;
    margin-right: 20px;
    
    position: absolute;
    height: 202px;
    z-index: 1;
    text-align: right;
    width: 200px;
    color: #000;
    font-size: 15px;
    padding-bottom: 10px;
    opacity: 0;
}
.letter .col-xl-12:hover .text-2{
  opacity: 1;
  width: 350px;
  transition: 1.2s;

}
.nav-nav{
  align-items: center;
  vertical-align: middle;
}
.shop img{
  width: 250px;
  height: 300px;
}
.shop{
  margin-top: 50px;
}
.img{
  position: relative;
 
}
.buy-it-now{
  position: absolute;
  top: 100px;
  left:50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  font-size: 30px;
  background: #ffcfe341;
  color: #fdb4df;
  font-weight: 800;
  width: 100px;
  height: 0;
  padding: 50px 0 0;
  opacity: 0;

}
.shop .buy:hover .buy-it-now{
  opacity:1;
  transition: 0.2s;
  height: 300px;
  top: 0;
  width: 250px;
}
.buy {
  margin-bottom: 30px;
}
.news a:hover{
    color: #fff;
}
footer{
  background: #fdb4df;
  padding:60px;
  pa
}
footer a{
   color: rgb(255, 255, 255);
   font-size: 25px;
}
footer a:hover{
  color: rgb(255, 62, 143);
}
footer i{
  background: rgb(255, 255, 255);
 padding: 20px 21px;
 margin-right: 10px;
 font-size: 30px;
 border-radius: 50px;
 color: rgb(255, 62, 143);
  
}
.ic{
  position: relative;
  padding-bottom: 50px;
}
.ic-1{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
}










